textarea {
}

#curriculo {
  height: 200px;
  resize: none;

}

.no-float {
  float: none;
}

.mt30 {
  margin-top: 30px;
}

.js-validate-error-label {
  margin-top: 5px;
}

.form__radio, .form__checkbox {
  margin-right: 7px !important;
}